
.marca{
    color: rgb(182, 147, 103);
    font-family: sans-serif;
    font-size: 50px;
}
body nav div{
    background-color: rgb(207, 199, 199);
    
    
    
}



.titulo{
    font-size: 30px;
    color: saddlebrown;
    padding-top: 20px;
    padding-left: 420px;
}

.material-icons{
    
    color: black;
    font-size: 30px;
   
}

.card-body{
    background-color: rgb(182, 147, 103);
    
}

.card-title{
    color: thistle;
}

.card-text{
    color: thistle;
}

.valor{
    padding: 20px;
    color: thistle;
}

.btn{
    color: saddlebrown;
}

.itemContainer{
    display:inline-flex;
    padding-left: 20px;
    
    
}

.foto{
    height: 300px;
    width: 200px;
    padding-left: 40px;
}

.logo{
    height: 200px;
    width: 200px;
}