
.marca{
    color: saddlebrown;
    font-family: sans-serif;
    display: inline-block;
    padding-left: 35%;
    font-size: 50px;
}
body nav div{
    background-color: rgb(182, 147, 103);
    width: 100%;
    height: 50px;
    
}

body nav div a{
    color: thistle;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    padding-left: 115px;
}

.titulo{
    font-size: 30px;
    color: saddlebrown;
    padding-top: 20px;
    padding-left: 420px;
}

.material-icons{
    padding-left: 180px;
    padding-top: 20px;
    color: rgb(182, 147, 103);
    font-size: 50px;
    
}

.card-body{
    background-color: rgb(182, 147, 103);
}

.card-title{
    color: thistle;
}

.card-text{
    color: thistle;
}

.valor{
    padding: 20px;
    color: thistle;
}

.btn{
    color: saddlebrown;
}

